html, body, #root {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

/* Links */
a {
    text-decoration: none;
    color: yellow;
    text-shadow: 0px 0px 3px yellow;
}
a:hover {
    text-shadow: none;
}